<extend name="Base/common"/>

<block name="header">
    <style type="text/css">
        .goodsback {position: relative; margin: 25px 0;}
        .goods {float: left; margin-right: 15px; position: relative; overflow: hidden;}
        .goodsback img { top: 0; left: 0;}
        .goodslist {position: absolute;}
        .goods .text {background-color:#000; FILTER:alpha(opacity=60); opacity:0.7; -moz-opacity:0.7; position: absolute;font-size: 14px;z-index:-1;text-align: center; color: white;}
        .ck-slidebox {left: 50%;}
    </style>
    <!-- 幻灯片123 -->
    <div class="ck-slide">
        <ul class="ck-slide-wrapper">
            <foreach name="huandeng" item="vo" key="i">
                <li style="opacity: 0; ">
                    <a href="javascript:;"><img src="/Uploads/{$vo.img}" alt="{$vo.title}"></a>
                </li>
            </foreach>
        </ul>
        <!-- <a href="javascript:;" class="ctrl-slide ck-prev" style="opacity: 0.15; ">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next" style="opacity: 0.15; ">下一张</a> -->
        <div class="ck-slidebox" style="margin-left: -54px; ">
            <div class="slideWrap">
                <ul class="dot-wrap">
                    <foreach name="huandeng" item="vo" key="i">
                        <li <if condition="$i eq 0">class="current"</if> ><em>&nbsp;</em></li>
                    </foreach>
                </ul>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/Home/js/slide.js"></script>
    <script>
        $(function(){
            var zww = $(window).width();
            var zwh = (zww/1920)*500;
            $('.ck-slide').css({'width':zww+'px','height':zwh+'px'});
            $('.ck-slide ul.ck-slide-wrapper').css({'width':zww+'px','height':zwh+'px'});
            $('ul.ck-slide-wrapper li').css({'width':zww+'px','height':zwh+'px'});
            $('ul.ck-slide-wrapper img').css({'width':zww+'px','height':zwh+'px'});
            $('.ck-slide').ckSlide({
                autoPlay: true
            });
        })        
    </script>
</block>

<block name="body">
    <div id="a1" style="position:fixed;left:0;top:0;z-index:999999999;"></div>
    <script type="text/javascript" src="__PUBLIC__/ckplayer/ckplayer.js" charset="utf-8"></script>
    <script type="text/javascript">
        var zhh = $(window).height();
        var zww = $(window).width();
        var flashvars={
            f:'/Uploads/{$video}',
            c:0,
            b:1
            };
        var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
        CKobject.embedSWF('/Public/ckplayer/ckplayer.swf','a1','ckplayer_a1',zww,zhh,flashvars,params); 
    </script>
    <!-- zbq 新闻 -->
    <div class="container">
        <div class="row">
            <div class="index_news clearfix">
                <div class="index_news_left">
                    <img src="/Uploads/{$news_left}" width="" />
                    <div class="yy"></div>
                </div>
                <div class="index_news_right">
                    <ul>
                        <article:list name="news" category="41" row="9">
                            <li>
                                <a href="{:U('Article/detail?id='.$news['id'])}">{$news.title}</a>
                                <span class="pull-right">{$news.create_time|date='Y-m-d',###}</span>
                            </li>
                        </article:list>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- zbq 产品 -->
    <div class="container_fuild goodsback">     
        <img src="/Uploads/{$goodsback[0].img}" style="width:100%">
        <div class="goodslist" >
            <foreach name="goods" item="v">
                <a href="{$v.href}" />
                    <div class="goods">
                        <img src="Uploads/{$v.img}" />
                        <div class="text">&nbsp;<br />{$v.title}<br />系列产品<br />&nbsp;</div>
                    </div>
                </a>
            </foreach>
            <div style="clear:both"></div>
        </div>      
    </div>
    <script type="text/javascript">
        $(function(){
            var h = $(window).width()/1920*294;
            var zleft = $('.goodsback').width()/2 - (1.6*h);
            $('.goods').css({'width':(0.8*h)+'px', 'height':(0.8*h)+'px','margin-right':(0.3*h)+'px'});
            $('.goods img').css({'border-radius':(0.8*h)+'px','width':(0.8*h)+'px'});
            $('.goodslist').css({'width': parseInt(3.4*h)+'px','top':(0.1*h)+'px', 'left':zleft+'px'});
            $('.goods .text').css({'font-size':(0.1*h)+'px', 'line-height':(0.2*h)+'px'})
            $('.goods').hover(function(){
                $(this).find('.text').css({'z-index':'1000','top':0,'left':0,'width':(0.8*h)+'px', 'height':(0.8*h)+'px','border':'none', 'border-radius':(0.8*h)+'px'});
            },function(){
                $(this).find('.text').css({'top':(0.8*h)+'px','left':(0.8*h)+'px'})
            })

            $('.index_news_left').hover(function(){
                $(this).find('.yy').css({'top':'10px'})
            },function(){
                $(this).find('.yy').css({'top':'311px'})
            })
        })
    </script>
    <!-- zbq 合作伙伴 -->
    <div class="container huoban">
        <div class="huobantitle">
            <div class="huoban_relation">{:C('COMPANY_JIAMENG')}</div>
        </div>
        <div class="huobanlist" >
            <foreach name="huoban" item="v" key="k">
                <div class="huobanitem huoban{$k}">
                    <if condition="$v[img] neq ''">
                        <img src="Uploads/{$v.img}" />
                    </if>
                </div>
                <if condition="$k eq 4">
                    <div style="clear:both"></div>
                </if>
            </foreach>
        </div>
    </div>
</block>
