<extend name="Base/common"/>

<block name="header">
<div class=""></div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <foreach name="huandeng" item="vo" key="i">
            <li data-target="#carousel-example-generic" data-slide-to="{$i}" <if condition="$i eq 0">class="active"</if> ></li>
        </foreach>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <foreach name="huandeng" item="vo" key="i">
            <div class='item <if condition="$i eq 0">active</if>'>
                <img src="/Uploads/{$vo.img}" alt="{$vo.title}">
                <div class="carousel-caption"></div>
            </div>
        </foreach>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="display:none">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="display:none">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div>
</block>

<block name="body">
    <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
            <article:list name="article" category="1" child="true">
                <div class="">
                    <h3><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></h3>
                </div>
                <div>
                    <p class="lead">{$article.description}</p>
                </div>
                <div>
                    <span><a href="{:U('Article/detail?id='.$article['id'])}">查看全文</a></span>
                    <span class="pull-right">
                        <span class="author">{$article.uid|get_username}</span>
                        <span>于 {$article.create_time|date='Y-m-d H:i',###}</span> 发表在 <span>
                        <a href="{:U('Article/lists?category='.get_category_name($article['category_id']))}">{$article.category_id|get_category_title}</a></span> ( 阅读：{$article.view} )
                    </span>
                </div>
                <hr/>
            </article:list>

        </section>
    </div>
        </div>
</block>
