<extend name="Base/common"/>

<block name="header">
    <style type="text/css">
        .goodsback {position: relative; margin: 25px 0;}
        .goods {display: inline-block; margin-right: 15px; position: relative; overflow: hidden;}
        .goodsback img { top: 0; left: 0;}
        .goodslist {position: absolute;}
        .goods .text {background-color:#000; FILTER:alpha(opacity=60); opacity:0.7; -moz-opacity:0.7; position: absolute;font-size: 14px;z-index:-1;text-align: center; color: white;}
    </style>
    <!-- zbq 幻灯片 -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" style="top:85%;right:50%">
        <foreach name="huandeng" item="vo" key="i">
            <li data-target="#carousel-example-generic" data-slide-to="{$i}" <if condition="$i eq 0">class="active"</if> ></li>
        </foreach>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <foreach name="huandeng" item="vo" key="i">
            <div class='item <if condition="$i eq 0">active</if>'>
                <img src="/Uploads/{$vo.img}" alt="{$vo.title}" style="width:100%;">
                <div class="carousel-caption" style="background:none;"></div>
            </div>
        </foreach>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="display:none">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="display:none">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- 幻灯片2 -->
    <link rel="stylesheet" href="http://down.admin5.com/demo/code_pop/19/906/css/slide.css">
    
    <!-- html -->
    <div class="ck-slide">
        <ul class="ck-slide-wrapper">
            <foreach name="huandeng" item="vo" key="i">
                <li style="opacity: 0; ">
                    <a href="javascript:;"><img src="/Uploads/{$vo.img}" alt="{$vo.title}" style="width:100%;"></a>
                </li>
            </foreach>
        </ul>
        <a href="javascript:;" class="ctrl-slide ck-prev" style="opacity: 0.15; ">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next" style="opacity: 0.15; ">下一张</a>
        <div class="ck-slidebox" style="margin-left: -54px; ">
            <div class="slideWrap">
                <ul class="dot-wrap">
                    <foreach name="huandeng" item="vo" key="i">
                        <li <if condition="$i eq 0">class="current"</if> ><em>&nbsp;</em></li>
                    </foreach>
                </ul>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/Home/js/slide.js"></script>s
    <script>
        var zww = $(window).width();
        var zwh = (zww/1920)*500;
        $('.ck-slide').css({'width':zww+'px','height':zwh+'px'});
        $('.ck-slide ul.ck-slide-wrapper').css({'height':zwh+'px'});
        $('.ck-slide').ckSlide({
            autoPlay: true
        });
    </script>
</block>

<block name="body">
    <!-- zbq 新闻 -->
    <div id="main-container" class="container">
        <div class="row">
            <div class="index_news clearfix">
                <div class="index_news_left">
                    <img src="/Uploads/{$news_left}" width="" />
                </div>
                <div class="index_news_right">
                    <ul>
                        <article:list name="article" category="1" child="true">
                            <li>
                                <a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a>
                                <span class="pull-right">{$article.create_time|date='Y-m-d',###}</span>
                            </li>
                        </article:list>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- zbq 产品 -->
    <div class="container_fuild goodsback">     
        <img src="/Uploads/{$goodsback[0].img}" style="width:100%">
        <div class="goodslist" >
            <foreach name="goods" item="v">
                <a href="{$v.href}" />
                    <div class="goods">
                        <img src="Uploads/{$v.img}" />
                        <div class="text">&nbsp;<br />{$v.title}<br />系列产品<br />&nbsp;</div>
                    </div>
                </a>
            </foreach>
            <div style="clear:both"></div>
        </div>      
    </div>
    <script type="text/javascript">
        $(function(){
            var h = $('.goodsback').height();
            var zleft = $('.goodsback').width()/2 - (1.7*h);
            $('.goods').css({'width':(0.8*h)+'px', 'height':(0.8*h)+'px','margin-right':(0.3*h)+'px'});
            $('.goods img').css({'border-radius':(0.8*h)+'px','width':(0.8*h)+'px'});
            $('.goodslist').css({'width': parseInt(3.4*h)+'px','top':(0.1*h)+'px', 'left':zleft+'px'});
            $('.goods .text').css({'font-size':(0.12*h)+'px', 'line-height':(0.2*h)+'px'})
            $('.goods').hover(function(){
                $(this).find('.text').css({'z-index':'1000','top':0,'left':0,'width':(0.8*h)+'px', 'height':(0.8*h)+'px','border':'none', 'border-radius':(0.8*h)+'px'});
            },function(){
                $(this).find('.text').css({'top':(0.8*h)+'px','left':(0.8*h)+'px'})
            })
        })
    </script>
    <!-- zbq 合作伙伴 -->
    <div class="container huoban">
        <div class="huobantitle">
            <div class="huoban_relation">{:C('COMPANY_JIAMENG')}</div>
        </div>
        <div class="huobanlist" >
            <foreach name="huoban" item="v" key="k">
                <div class="huobanitem huoban{$k}">
                    <if condition="$v[img] neq ''">
                        <img src="Uploads/{$v.img}" />
                    </if>
                </div>
                <if condition="$k eq 4">
                    <div style="clear:both"></div>
                </if>
            </foreach>
        </div>
    </div>
</block>
