<extend name="Base/common"/>

<block name="body">
    <style>.news_page_title {border-bottom: 1px dashed #03680a; margin-bottom: 10px; }.articleOne {padding: 17px 10px 20px; border-bottom: 1px dashed #03680a; }</style>
	<div class="news_container clearfix" >
    	<div class="news_page_title clearfix">
            <div class="img_text pull-left" style="line-height: 20px;">
        		<eq name="category.icon" value="0">
        			{$category.title}
        		</eq>
        		<neq name="category.icon" value="0">
        			<img src="{$category.iconimg}" title="{$category.title}" />
        		</neq>
            </div>
            <div class="pull-left gohistory">
                <span style="margin-right: 6px; font-size: 19px;">|</span>
                <foreach item="v" name="category.child">
                    <a href="{:U('Article/lists', array('category'=>$v[name]))}" class="cat_menu2 <eq name="cid" value="$v[id]">cur</eq>" >{$v.title}</a>
                </foreach>
            </div>
    	</div>
        <if condition="$info neq ''">
        	<h5 class="ellipsis" style="text-align: center;margin: 15px 0 10px;"><a href="javascript:;" style="font-family: 'Microsoft YaHei';">{$info.title}</a></h5>
    		<div class="newstatus" style="text-align:center">
    			<span>更新日期：{$info.create_time|date='Y-m-d H:i',###}</span>
    			<span>来源：吉林佰顺米业</span>
    		</div>
        	<section id="contents" class="news_page_content" >{$info.content}</section>
        <else />
            <h3 class="ellipsis" style="text-align: center;margin: 15px 0 10px;">该分类下暂无文章</h3>
        </if>
    </div>
</block>
