	</div>
</div>
<style>.news_page_title .pull-left img {width:158px; height:43px;}</style>
<div id="nav_table" style="display:none;width:25%;bottom:2.5rem;right:0;position:fixed;z-index:9999;">
    <volist name="nav1" id="nav" offset="2" > 
        <div style="line-height:2rem;text-align:center;height:2rem;margin-top:1px;background-color:#fff;">
            <a href="{$nav.url|get_nav_url}" style="color:#929292;">{$nav.title}</a>
        </div>
    </volist>
</div>
<script>
	$.config = {
	    autoInit: true
	}
  	function show_nav_table() {
        if ( $('#nav_table').css('display') == 'block' ) {
            $('#nav_table').hide();
        } else {
            $('#nav_table').show();
        }
    }
</script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.8/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.8/js/sm-extend.min.js' charset='utf-8'></script>