<div class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" href="{:U('index/index')}" data-transition='slide-out'>
            <img src="__PUBLIC__/Wap/image/mobile_logo.png" style="height: 1.8rem;">
        </a>
        <a class="button button-link button-nav pull-right" href="javascript:;" data-transition='slide-out'>
            <img src="__PUBLIC__/Wap/image/log_right.png" style="height: 1.8rem;">
        </a>
    </header>
    <style>.bar-tab .tab-item.active, .bar-tab .tab-item:active {color: #c70a1e; }</style>
    <nav class="bar bar-tab">
        <a class="tab-item active" href="#">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-me"></span>
            <span class="tab-label">品牌故事</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-star"></span>
            <span class="tab-label">系列产品</span>
        </a>
        <a class="tab-item" href="#">
            <span class="sui-icon icon-pc-list"></span>
            <span class="tab-label">更多</span>
        </a>
    </nav>
    <div class="content">