<div class="page">
    <header class="bar bar-nav">
        <h1 class="title" style="color:#c30d23;font-family: 'Microsoft YaHei';">吉林佰顺米业</h1>
    </header>
    <style>.bar-tab .tab-item.active, .bar-tab .tab-item:active {color: #c70a1e; }.bar, .page{background: #fff}</style>
    <nav class="bar bar-tab">
        <a class="tab-item index" href="{:U('Index/index')}">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item pinpai" href="{:U('Article/lists?category=pinpai')}">
            <span class="icon icon-me"></span>
            <span class="tab-label">品牌故事</span>
        </a>
        <a class="tab-item aa" href="{:U('Article/lists?category=aa')}">
            <span class="icon icon-star"></span>
            <span class="tab-label">系列产品</span>
        </a>
        <a class="tab-item more" href="#">
            <span class="icon icon-menu"></span>
            <span class="tab-label">更多</span>
        </a>
    </nav>
    <script>
        $(function(){
            var menu_act = '{$menu_act}';
            if($('.bar .'+menu_act).length) {
                $('.bar .'+menu_act).addClass('active');
            } else {
                $('.bar .more').addClass('active');
            }
        })
    </script>
    <div class="content">