<div class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" href="{:U('index/index')}" data-transition='slide-out'>
            <img src="__PUBLIC__/Wap/image/mobile_logo.png" style="height: 1.8rem;">
        </a>
        <a class="button button-link button-nav pull-right" href="javascript:;" data-transition='slide-out'>
            <img src="__PUBLIC__/Wap/image/log_right.png" style="height: 1.8rem;">
        </a>
    </header>
    <style>.bar-tab .tab-item.active, .bar-tab .tab-item:active {color: #c70a1e; }.bar, .page{background: #fff}</style>
    <nav class="bar bar-tab">
        <a class="tab-item index" href="{:U('Index/index')}">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item pinpai" href="{:U('Article/lists?category=pinpai')}">
            <span class="icon icon-me"></span>
            <span class="tab-label">品牌故事</span>
        </a>
        <a class="tab-item aa" href="{:U('Article/lists?category=aa')}">
            <span class="icon icon-star"></span>
            <span class="tab-label">系列产品</span>
        </a>
        <a class="tab-item more" href="#" onclick="show_nav_table();">
            <span class="icon icon-menu"></span>
            <span class="tab-label">更多</span>
        </a>
    </nav>
    <div id="nav_table" style="display:none;width:25%;bottom:2.5rem;right:0;position:fixed;">
        <volist name="nav1" id="vo" offset="2" > 
            <div style="line-height:1.5rem;text-align:center;">
                 <a href="{$nav.url|get_nav_url}" >{$nav.title}</a>
             </div>
        </volist>
    </div>
    <script>
        $(function(){
            var menu_act = '{$menu_act}';
            if($('.bar .'+menu_act).length) {
                $('.bar .'+menu_act).addClass('active');
            } else {
                $('.bar .more').addClass('active');
            }
        })
        function show_nav_table() {
            if ( $('#nav_table').css('display') == 'block' ) {
                $('#nav_table').hide();
            } else {
                $('#nav_table').show();
            }
        }
    </script>
    <div class="content">