
    <!-- 底部
    ================================================== -->
    <!-- <footer class="footer">
      <div class="container">
          <p> 本站由 <strong><a href="http://www.onethink.cn" target="_blank">OneThink</a></strong> 强力驱动</p>
      </div>
    </footer> -->
<style>
	.footer{ width:100%; background:#6DCF2A;}
	.footer-guanzhu{ padding:0 35px; font-size:14px; color:#005804; float:left; border-right:1px solid #62BB25; height:160px;}
	.footer-guanzhu-left{ float:left; width:150px;}
	.footer-guanzhu-right{ float:left; padding-top:5px; padding-left:20px;}
	.footer-guanzhu h3{ font-size:14px; color:#132819;}
	.footer-lianxi{ padding:0 38px; font-size:14px; color:#005804; float:left; border-right:1px solid #62BB25; height:160px;}
	.footer-lianxi h3{ font-size:14px; color:#132819;}
	.footer-lianxi p{ margin-bottom:0px; width:190px;}
	.footer1{ margin-top:18px; padding-top:20px; padding-bottom:20px; border-top:1px solid #62BB25;border-bottom:1px solid #62BB25;}
	.none{ border:none;}
	.coptright{ margin-top:10px; margin-bottom:10px;}
	.coptright p{ margin-top:5px; text-align:center;color:#005804;}
	.coptright p a{ padding:0 25px; color:#005804;}
</style>
<footer class="footer">
    <div class="container">
        <div class="footer1 clearfix">
        	<div class="footer-guanzhu clearfix">
            	<h3>关注</h3>
                <div class="footer-guanzhu-left">
                	<p>关注微信公众平台<br/>更多精彩！更多惊喜！</p>
                    <p>微信公众账号：</p>
                </div>
                <div class="footer-guanzhu-right">
                	<img src="__PUBLIC__/Home/images/footer-guanzhu-right.jpg"/>
                </div>
            </div>
            <div class="footer-lianxi">
            	<h3>联系</h3>
                <p>{:C('COMPANY_NAME')}</p>
                <p>地址：{:C('COMPANY_ADDRESS')}</p>
                <p>电话：{:C('COMPANY_MOBILE')}</p>
                <p>传真：{:C('COMPANY_FAX')}</p>
            </div>
            <div class="footer-lianxi">
            	<h3>加盟</h3>
                <p>加盟政策</p>
                <p>OEM</p>
                <p>加盟热线：{:C('COMPANY_RELATION')}</p>
            </div>
            <div class="footer-lianxi none">
            	<h3>友情链接</h3>
                <p>佰顺米业淘宝商城</p>
                <p>佰顺米业淘宝商城</p>
            </div>
        </div>
        <div class="coptright">
        	<p><a href="#">关于我们</a>|<a href="#">精彩活动</a>|<a href="#">合作联系</a>|<a href="#">商城</a></p>
            <p>CommyLeung(At)Gmail.Com Power By Wordpress 43 Queries In 0.348 Sec</p>
        </div>
    </div>
</footer>
<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
