
    <!-- 底部
    ================================================== -->
    <!-- <footer class="footer">
      <div class="container">
          <p> 本站由 <strong><a href="http://www.onethink.cn" target="_blank">OneThink</a></strong> 强力驱动</p>
      </div>
    </footer> -->
<style>
	.footer{ width:100%; background:#46B100; padding-bottom: 0px;}
    .footer h3 {line-height: 20px; margin: 0 0 15px;}
    .footer p, .footer a{color: #025706;}
	.footer-guanzhu{ padding:0 30px; font-size:14px; color:#005804; float:left; border-right:1px solid #62BB25; height:140px;}
	.footer-guanzhu-left{ float:left; width:150px; text-align: left}
	.footer-guanzhu-right{ float:left; padding-top:5px; padding-left:20px;}
	.footer-guanzhu h3{ font-size:14px; color:#132819; text-align: left;}
	.footer-lianxi{ padding:0 38px; font-size:14px; color:#005804; float:left; border-right:1px solid #62BB25; height:140px;}
	.footer-lianxi h3{ font-size:14px; color:#132819; text-align: left;}
	.footer-lianxi p{ margin-bottom:0px; width:190px; text-align: left; color: #025706;}
	.footer1{ margin-top:18px; padding-top:20px; padding-bottom:20px; border-top:1px solid #62BB25;border-bottom:1px solid #62BB25;}
    .footer .relation p{width:250px;}
	.none{ border:none; padding-right: 0px;}
    .none p{width: 170px;}
	.coptright{ margin-top:18px; margin-bottom:10px;}
	.coptright p{ margin-top:5px; text-align:center;color:#005804;}
	.coptright p a{ padding:0 25px; color:#005804;}
</style>
<footer class="footer">
    <div class="container">
        <div class="footer1 clearfix">
        	<div class="footer-guanzhu clearfix">
            	<h3>关注</h3>
                <div class="footer-guanzhu-left">
                	<p>关注微信公众平台<br/>更多精彩！更多惊喜！</p>
                    <p style="margin-top:10px;">微信公众账号：</p>
                </div>
                <div class="footer-guanzhu-right">
                	<img src="/Uploads/{$erweima}" style="width:85px;height:85px;"/>
                </div>
            </div>
            <div class="footer-lianxi relation">
            	<h3>联系</h3>
                <p>{:C('COMPANY_NAME')}</p>
                <p>地址：{:C('COMPANY_ADDRESS')}</p>
                <p>电话：{:C('COMPANY_PHONE')}</p>
                <p>传真：{:C('COMPANY_FAX')}</p>
            </div>
            <div class="footer-lianxi">
            	<h3>加盟</h3>
                <p><a href="{:U('Article/lists?category=jmzc')}">加盟政策</a></p>
                <p>加盟热线：{:C('COMPANY_JIAMENG')}</p>
            </div>
            <div class="footer-lianxi none">
            	<h3>友情链接</h3>
                <foreach name="friendlink" item="vo">
                    <p><a href="{$vo.furl}">{$vo.fname}</a></p>
                </foreach>
            </div>
        </div>
        <div class="coptright">
            <p>本站由OneThink驱动 &nbsp;&nbsp;Production By Zhou boqi</p>
        </div>
    </div>
</footer>
<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
