<!-- 导航条
================================================== -->
<div class="navbar ">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{:U('index/index')}"><img src="__ROOT__/logo.png" /></a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <foreach name="nav1" item="nav">
                        <li class="nav_tags">
                            <a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                            <div class="subnav" >
                                <neq name="nav._" value="">
                                    <div class="npage"></div>
                                    <div class="subnav_block">
                                        <div class="subnav_title" >
                                            <foreach name="nav._" item="vo" key="i">
                                                <a href="{$vo.url|get_nav_url}" target="<eq name='vo.target' value='1'>_blank<else/>_self</eq>" data-id="{$vo.id}" class='<if condition="$i eq 0">active</if>'>{$vo.title}</a>
                                            </foreach>
                                        </div>
                                        <div class="subnav_content" >
                                            <foreach name="nav._" item="vo" key="i">
                                                <div id="subnav{$vo.id}" class="clearfix subnav_content2" <if condition="$i eq 0">style="display:block"</if>>
                                                    <neq name="vo.pic" value="">
                                                        <img src="/Uploads/{$vo.pic}" >
                                                    </neq>
                                                    {$vo.description}
                                                </div>
                                            </foreach>
                                        </div>
                                    </div>
                                </neq>
                            </div>
                        </li>
                    </foreach>
                </ul>
                <ul class="shop" style="width:110px">                 
                    <li >
                        <a href="{:C('WEB_SHOP')}">在线商城</a>
                        <div class="subnav shopnav" >
                            <neq name="shoplist" value="">
                                <div class="npage"></div>
                                <div class="subnav_block">
                                    <foreach name="shoplist" item="vo" key="i">
                                        <div class="subshopnav_content" >
                                            <h4>{$vo.title}</h4>
                                            <neq name="vo.img" value="">
                                                <img src="/Uploads/{$vo.img}" style="width:164px;height:164px;">
                                            </neq>                                     
                                        </div>
                                    </foreach>
                                    <div style="clear:both"></div>
                                </div>
                            </neq>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-collapse collapse pull-right">
            </div>
        </div>
    </div>
</div>
