<extend name="Base/common"/>

<block name="header">
    <!-- Slider -->
    <div class="swiper-container" style="padding-bottom: 10px;">
        <div class="swiper-wrapper">
            <foreach name="huandeng" item="vo" key="i">
                <div class="swiper-slide"><img src="/Uploads/{$vo.img}" alt="{$vo.title}" style="width:100%"></div>
            </foreach>
        </div>
        <div class="swiper-pagination" style="display:none"></div>
    </div>
    <script>
        $(function() {
            $(".swiper-container").swiper({speed: 400});
        });
    </script>
</block>

<block name="body">
    
</block>