<extend name="Base/common"/>

<block name="header">
    <div class="content">
        <!-- Slider -->
        <div class="swiper-container" data-space-between='10'>
            <div class="swiper-wrapper">
                <foreach name="huandeng" item="vo" key="i">
                    <div class="swiper-slide"><img src="/Uploads/{$vo.img}" alt="{$vo.title}"></div>
                </foreach>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</block>

<block name="body">
    
</block>