<extend name="Base/common"/>

<block name="header">
    <!-- Slider -->
    <div class="swiper-container" data-autoplay="3000" data-speed="2000" style="padding-bottom: 10px;">
        <div class="swiper-wrapper">
            <foreach name="huandeng" item="vo" key="i">
                <div class="swiper-slide"><img src="/Uploads/{$vo.img}" alt="{$vo.title}" style="width:100%"></div>
            </foreach>
        </div>
        <div class="swiper-pagination" style="display:none"></div>
    </div>
</block>

<block name="body">
    <style>.zbox div{display:inline-block;}</style>
    <div class="zbox">
        <div style="width:49%;margin-right:2%">
            <img src="/Uploads/{$news_left}" width="100%" />
        </div>
        <div style="width:47%;margin-right:2%;float:right;">
            <ul>
                <article:list name="news" category="41" row="5">
                    <li>
                        <a href="{:U('Article/detail?id='.$news['id'])}">{$news.title}</a>
                        <span class="pull-right">{$news.create_time|date='Y-m-d',###}</span>
                    </li>
                </article:list>
            </ul>
        </div>
    </div>
</block>