<extend name="Public/base"/>

<block name="body">
	<style type="text/css">
		.goodsback {position: relative;}
		.goods {display: inline-block; margin-right: 15px; position: relative; overflow: hidden;}
		.goodsback img { top: 0; left: 0;}
		.goodslist {position: absolute;}
		.goods .text {background-color:#000; FILTER:alpha(opacity=60); opacity:0.7; -moz-opacity:0.7; position: absolute;font-size: 14px;z-index:-1;text-align: center; color: whtie;}
	</style>
	<!-- 标题栏 -->
	<div class="container_fuild goodsback">		
		<img src="/Uploads/{$goodsback[0].img}" style="width:100%">
		<div class="goodslist" >
			<foreach name="goods" item="v">
				<a href="{$v.href}" />
					<div class="goods">
						<img src="Uploads/{$v.img}" />
						<div class="text">&nbsp;<br />{$v.title}<br />系列产品<br />&nbsp;</div>
					</div>
				</a>
			</foreach>
			<div style="clear:both"></div>
		</div>		
	</div>
	<div style="clear:both"></div>
	<!-- 数据列表 -->
	<div class="data-table">
        <div class="data-table table-striped">
<table class="">
    <thead>
        <tr>
		<th class="">编号</th>
		<th class="">位置</th>
		<th class="">图片</th>
		<th class="">简介</th>
		<th class="">链接地址</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
	<notempty name="list">
		<volist name="list" id="vo">
		<tr>
			<td>{$vo.ad_id} </td>
			<td><if condition="$vo[type] eq 'goods'">产品<else />背景图</if></td>
			<td>{$vo.img}<a target="href" href="/Uploads/{$vo.img}"> 查看 </a></td>
            <td>{$vo.title}</td>
            <td>{$vo.href}</td>
			<td>
				<a href="{:U('Ad/edit?id='.$vo['ad_id'])}">编辑</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>

        </div>
    </div>
</block>

<block name="script">
	<script type="text/javascript" charset="utf-8">
		$(function(){
			var h = $('.goodsback').height();
			var zleft = $('.goodsback').width()/2 - (1.5*h);
			$('.goods').css({'width':(0.8*h)+'px', 'height':(0.8*h)+'px','margin-right':(0.2*h)+'px'});
			$('.goods img').css({'border-radius':(0.8*h)+'px','width':(0.8*h)+'px'});
			$('.goodslist').css({'width': (parseInt(3*h)+15)+'px','top':(0.1*h)+'px', 'left':zleft+'px'});
			$('.goods .text').css({'font-size':(0.12*h)+'px', 'line-height':(0.2*h)+'px'})
			$('.goods').hover(function(){
				$(this).find('.text').css({'z-index':'1000','top':0,'left':0,'width':(0.8*h-2)+'px', 'height':(0.8*h-2)+'px','border':'none', 'border-radius':(0.8*h)+'px'});
			})
		})
	</script>
</block>
