<extend name="Public/base"/>

<block name="body">
	<style >
		.index_news_left {
		    width: 700px;
		    height: 400px;
		    float: left;
		    margin-left: 50px;
		}
	</style>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>首页视频</h2>
	</div>
    <div class="clearfix">
    	<!-- <div class="index_news_left">
    		<img id="img1" src="/Uploads/{$img}" <if condition="$img eq ''">style="display:none"</if>>
    	</div> -->
    	<div id="a1" class="index_news_left"></div>
    	<div>
    		<form action="{:U('Ad/save_video')}" method="post" class="form-horizontal">
    			<input type="hidden" name="id" value="{$id}">
		    	<div class="form-item">
					<label class="item-label">上传视频<span class="check-tips"></span> mp4格式，大小不超过10M</label>
					<div class="controls">
						<!-- <input type="file" id="file1" name="file"><br /> -->
						<input type="file" id="upload_picture" >
					</div>
					<input type="hidden" name="img" value="{$img}" >
				</div>
				<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
				<script type="text/javascript">
					//上传图片
				    /* 初始化上传插件 */
					$("#upload_picture").uploadify({
				        "height"          : 30,
				        "swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "file",
				        "buttonText"      : "上传视频",
				        "uploader"        : "{:U('Admin/Upload/video')}",
				        "width"           : 120,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.mp4;',
				        "onUploadSuccess" : uploadPicture,
				        'onFallback' : function() {
				            alert('未检测到兼容版本的Flash.');
				        }
				    });
					function uploadPicture(file, data){
						var data = $.parseJSON(data);
						if (typeof (data.error) != 'undefined') {
	                        if (data.error != '') {
	                            updateAlert(data.error);
				        		setTimeout(function(){
					                $('#top-alert').find('button').click();
					                $(that).removeClass('disabled').prop('disabled',false);
					            },1500);
	                        } else {
	                        	alert(1);
	                        	$('input[name="img"]').val(data.imgurl);
	                        }
	                    }
				    	// var data = $.parseJSON(data);
				    	// var src = '';
				     //    if(data.status){
				     //    	src = data.url;
				     //    	$("input['name=img']").val(src);
				     //    } else {
				     //    	updateAlert(data.info);
				     //    	setTimeout(function(){
				     //            $('#top-alert').find('button').click();
				     //            $(that).removeClass('disabled').prop('disabled',false);
				     //        },1500);
				     //    }
				    }
				</script>
				<div class="form-item">
					<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
    	</div>
    </div>
    <div style="clear:both"></div>
</block>
<block name="script">
	<script type="text/javascript" src="__PUBLIC__/ckplayer/ckplayer.js" charset="utf-8"></script>
	<script type="text/javascript">
		var flashvars={
			f:'/Uploads/{$img}',
			c:0,
			b:1
			};
		var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
		CKobject.embedSWF('/Public/ckplayer/ckplayer.swf','a1','ckplayer_a1','600','400',flashvars,params);	
	</script>
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>